<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Blance Game Comunity</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-box">
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <script>
        setTimeout(()=>{
            const box = document.querySelector(".flash-box");
            if(box){
                box.style.opacity ="0";
                box.style.transition ="0.3s";
                sseTimeout(()=>box.remove(), 300)
            }
        },2000)
    </script>
    <header id="header">
    <h1 class="logo"><a href="/">Blance Game</a> </h1>
    <div class="util">
    {% if session.get('username')%}
        <span class="user">{{session['username']}}님</span>
        <a href="/logout" class="btn logout">로그아웃</a>
    {% else %}
        <a href="/login" class="btn">로그인</a>
        <a href="/register" class="btn primary">회원가입</a>
    {% endif %}
    </div>
    </header>
   
    <hr>
    
    <div class="container">
      <h2>게시글 목록</h2>  
    {% for post in posts %}
   
        <div class="card" onclick="location.href='/post/{{post.id}}'">
            <div class="title">
                    {{ post["title"] }}
            </div>
  
                {% if post["vote_a"] > post["vote_b"] %}
                    <div class="badge">
                    🔥 {{ post["option_a"] }} 우세
                    </div>
                 {% elif post["vote_b"] > post["vote_a"] %}
                     <div class="badge">
                    🔥 {{ post["option_b"] }} 우세
                    </div>
                {% else %}
                    <div class="badge">
                    ⚖️ 동률
                    </div>
                {% endif %}
           
            <div class="actions">
            <a href="/edit/{{post['id']}}" class="btn edit" onclick="event.stopPropagaion()">수정</a>
            <form method="POST" action="/delete/{{post['id']}}" style="display:inline;" onclick="event.stopPropagaion()">
                <button type="submit" class="btn delete">삭제</button>
            </form>
            </div>
        </div>
    {%endfor%}
         <a href="/write" class="write-btn">
        +글 쓰기
        </a>
    </div>

</body>
</html>